@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption,
img {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // -ms-box-sizing: border-box;
  // -o-box-sizing: border-box;
  // box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  &:hover {
    outline: none;
  }
}

/* 表单元素共用样式 */
input[type=button],
input[type=submit],
input[type=search],
input[type=reset] {
  -webkit-appearance: none
}

input, button, textarea {
  outline: none;
}

textarea {
  -webkit-appearance: none;
  resize: none;
}

input:-ms-input-placeholder {
  color: #c1c1c1;
}
input::-webkit-input-placeholder {
  color: #c1c1c1;
}
textarea:-ms-input-placeholder {
  color: #c1c1c1;
}
textarea::-webkit-input-placeholder {
  color: #c1c1c1;
}

/*很关键：将默认的select选择框样式清除*/
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
  display: none;
}

body, html {
  width: 100%
}
html {
  font-size: 14px;
}

a {
  color: #000;
}

.clear {
  clear: both;
}
.fr {
  float: right;
}

.fl {
  float: left;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #42b983;
    font-weight: 600;
  }
}
.el-table .cell {
  white-space: nowrap
}
//增删改查按钮样式
.form-head-attached {
  position: fixed;
  top: 100px;
  left: 220px;
  right: 10px;
  z-index: 1;
  height: 50px;
  // line-height: 40px;
  font-size: 16px;
  color: #828282;
  background-color: #fff;

  .form-inner {
    height: 100%;
    margin: 0 16px;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
  }
  div.crud-btn,
  div.export-btn {
    button{
      color: #828282!important;
      display: inline-block;
      margin:0 16px;
      i {
        display: inline-block;
        margin-right: 6px;
      }
    }
    button.is-active {
      color: #35d5ba!important;
    }
  }
}
.compotent-tab {
  position: fixed;
  top: 150px;
  left: 240px;
  right: 30px;
  bottom: 30px;
}
// form模块区
.form-container {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow-y: auto;
  color: #000;
  border: 1px solid #d2d2d2;
  padding: 10px 20px;
  @include borderRadius(4px);
  @include boxSizing;
  .form-module {
    margin-bottom: 30px;
    h4.module-title{
      height: 20px;
      padding: 10px 0;
      border-bottom: 1px solid #d2d2d2;
      p {
        border-left: 5px solid #35d5ba;
        padding:0 15px;
      }
    }
    .basic-item {
        width: 100%;
        margin-top: 20px;
        color: #000;
        display: table;
        label {
          color: #000;
          width: 30%;
          line-height: 16px;
          word-wrap: wrap;
          margin-right: 2%;
          font-size: 14px;
          text-align: right;
          display: inline-block;
          vertical-align: middle;
        }
        input {
          width: 62%;
          height: 32px;
          border: 1px solid #828282;
          @include borderRadius(4px);
          @include boxSizing;
          padding-left: 12px;
          vertical-align: middle;
        }
        input:focus {
          border: 1px solid #3f9eff;
        }
        .el-select,
        .el-cascader{
          width: 62%;
          height: 34px;
          line-height: 34px;
          @include boxSizing;
          input {
            width: 100%;
            height: 32px;
            line-height: 32px;
            border: 1px solid #828282;
            @include borderRadius(4px);
            color: #000;
          }
          input:focus {
            border: 1px solid #3f9eff;
          }
        }
        .el-cascader .el-cascader__label{
          color: #000!important;
        }
      }
      //日期样式
      .basic-item.range-date, {
        .el-date-editor{
          padding: 0;
          width: 62%;
          height: 34px;
          line-height: 34px;
          border: 1px solid #828282;
          @include borderRadius(4px);
          .el-range-input {
            width: 38%;
            padding:0;
            height: 32px;
            line-height: 32px;
            text-align: center;
            border: none;
            font-size: 13px;
            color: #000;
            vertical-align: top;
          }
          .el-icon-date{
            width: 8%;
            margin-left: 0;
          }
          .el-range__close-icon {
            width: 7%;
            vertical-align: middle;
          }
          .el-range-separator{
            width: 6%;
            padding:0 2px;
            vertical-align: middle;
          }
        }
      }
      .basic-item.single-date {
        .el-date-editor {
          width: 62%;
          height: 34px;
          line-height: 34px;
          input.el-input__inner {
            width: 100%;
            padding-left: 30px!important;
            color: #000;
            vertical-align: middle;
          }
          .el-input__prefix{
            width: 10%;
            vertical-align: middle;
          }
        }
      }
  }
  table.basic-table {
    width: 100%;
    margin-right: 40px;
    border-left: 1px solid #828282;
    border-bottom: 1px solid #828282;
    tr {
      td {
        height: 28px;
        text-align: center;
        font-size: 14px;
        border-top: 1px solid #828282;
        border-right: 1px solid #828282;
        input,
        p{
          display: inline-block;
          width: 80%;
          min-width: 60px;
          height: 26px;
          line-height: 26px;
          text-align: center;
        }
      }
    }
  }
}
.common-btn {
  @include borderRadius(4px);
  @include boxSizing;
  margin: 20px auto;
  padding: 0 10px;
  margin-right: 20px;
  width: auto;
  min-width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #35d5ba;
  border: 1px solid #35d5ba;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.commont-btn{
  width: 100%;
  text-align: center;
  margin: 40px 0;
  button.el-button {
    @include borderRadius(4px);
    @include boxSizing;
    padding: 0 10px;
    margin-right: 20px;
    width: auto;
    min-width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #35d5ba;
    border: 1px solid #35d5ba;
    text-align: center;
    color: #fff;
    font-size: 14px;
    span {
      padding:0 10px;
    }
    a {
      color: #fff;
    }
  }
  button.el-button:hover {
    background-color: #10a185;
    border: 1px solid #10a185;
  }
  button.el-button:focus {
    background-color: #10a185;
    border: 1px solid #10a185;
  }
  button.el-button.is-loading {
    span{
      padding:0;
    }
  }
}
.commont-btn:hover {
  cursor: pointer;
}
.commont-btn.edit-top-btn {
  margin: 0;
  button {
    float: right;
  }
}
